.loaderWrapper{
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}
.loaderWrapper svg{
    width: 4rem;
    height: 4rem;
}
.loaderWrapper .app-logo{
      width: 5rem;
      margin: var(--space-xl);
}
.loaderWrapper .app-logo img{
  width: 100%;
}
.loader-text{
    font-weight: 700;
    text-align: center;
}
.loader-subtext{
    color: var(--text-light);
}


.rotateNeedle{
  transform-origin: 120px 131px ;
  transform: rotate(0deg);
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }to{
    transform: rotate(360deg);
  }
}

.rotateNeedle-base{
  transform-origin: 120px 131px ;
  transform: rotate(0deg);
  animation: rotate-base 4s linear infinite;
}
@keyframes rotate-base {
  from {
    transform: rotate(0deg);
  }to{
    transform: rotate(360deg);
  }
}