.todoContainer {
  width: 100%;
  height: 100dvh;
  position: fixed;
  top: 0%;
  right: 0%;
  display: flex;
  flex-direction: column;

  background-color: var(--bg-light);

  padding: 0 var(--space-xs);
  border-radius: var(--space-md);

  z-index: 50;
}
.panel {
  --offset: 100%;
  transform: translateX(var(--offset));
  transition: transform 250ms ease;
}

.panel.open {
  --offset: 0%;
}

.todoContainer_head {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-md);
  text-align: left;
  border-bottom: 1px solid var(--border-color);
}
.todoContainer_head h4 {
  color: var(--accent);
}
.todoContainer_date {
  font-size: var(--font-xs);
  color: var(--text-light);
}

.todoContainer_body {
  flex-grow: 1;
  overflow-y: auto;
  scrollbar-gutter: stable;
}
.todoContainer_foot {
  padding: var(--space-md) 0;
  border-top: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo {
  position: relative;
  margin-block: var(--space-xs);
  border-radius: var(--space-sm);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-md) var(--space-sm) var(--space-md) var(--space-lg);
  gap: var(--space-md);
}
.todo:hover {
  background-color: var(--border-color);
}
.todo.is-active {
  background-color: var(--accent-20);
}
.todo_title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--font-sm);
  
}
.todo_status {
  width: fit-content;
  font-size: var(--font-xs);
  padding: 0 var(--space-xs);
  border-radius: var(--space-sm);
}
.todo_status[data-status="pending"] {
  color: var(--level-high);
  background-color: hsl(from var(--level-high) h s l / 20%);
}
.todo_status[data-status="completed"] {
  color: var(--level-low);
  background-color: hsl(from var(--level-low) h s l / 20%);
}
.todo_status[data-status="active"] {
  color: var(--level-medium);
  background-color: hsl(from var(--level-medium) h s l / 20%);
}

.todo_actions {
  margin-left: auto;
  color: var(--text-light);
}
.todo_actions:hover {
  color: var(--text);
  cursor: pointer;
}

.todo_actionModal {
  position: absolute;
  top: 0%;
  right: var(--space-md);
  z-index: 60;
  background-color: var(--bg);
  border-radius: var(--space-sm);

  box-shadow: 2px 2px 10px 2px var(--shadow);
}
.contextBtn {
  border-bottom: 1px solid var(--border-color);
  padding: var(--space-sm) var(--space-md);
  font-size: var(--font-xs);
  cursor: pointer;
  user-select: none;
}
.contextBtn:hover {
  background-color: var(--bg-light);
}

.todo-modal {
  width: 100%;
  height: fit-content;
  max-width: 100vw;
  max-height: 100vh;
  background-color: var(--bg);
  border-radius: var(--space-sm);
  box-shadow: 2px 2px 10px 4px var(--shadow);
}
.todo-modal_head {
  padding: var(--space-md);
  border-bottom: 1px solid var(--border-color);
}
.todo-modal_body {
  flex-grow: 1;
  overflow-y: auto;
  padding: var(--space-md);
}
.todo-modal_foot {
  padding: var(--space-md) var(--space-lg);
}
.todo-modal .todo_title {
  --border-col: var(--border-color);
  outline: none;
  border: none;
  display: block;
  width: 100%;
  border-radius: var(--space-sm);
  font-size: var(--font-md);

  margin-bottom: var(--space-md);
  padding: var(--space-sm);
  background-color: var(--border-color);
  border-bottom: 2px solid var(--border-col);
}
.todo_title:focus {
  --border-col: var(--accent);
}
.stepper {
  margin-block: var(--space-md);
}
/* stepper  */
.stepper_step {
  width: 2rem;
  height: 4rem;
  border-radius: 1rem;
  background-color: var(--contrast-bg);
  text-align: center;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  z-index: 0;
  cursor: pointer;
  user-select: none;
}
.stepper_step::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: hsl(from var(--level-color) h s l / 75%);
  transition: height 200ms ease;
  z-index: -1;
}
.stepper_step.is-active::before {
  height: 100%;
}
.stepper_step span {
  margin-bottom: 0;
  transition: margin-bottom 210ms ease;
}
.stepper_step.is-active span {
  margin-bottom: 100%;
  color: hsl(from var(--level-color) h s 25%);
}

.noTodos {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-light);
}

.noTodos_body {
  width: fit-content;
  height: fit-content;
  text-align: center;
}

.noTodos_body p {
  font-size: var(--font-xs);
}

.taskFocusDurationSelector {
  font-size: var(--font-sm);
  border: 1px solid var(--border-color);
  border-radius: var(--space-sm);
  padding: var(--space-xs) var(--space-md);
  margin-block: var(--space-md);
}
.taskFocusDurationSelector .head {
  color: var(--accent);
}
.taskFocusDurationSelector input[type="radio"] {
  margin-right: var(--space-sm);
  cursor: pointer;
}

.active-task-holder {
  position: absolute;
  min-width: 320px;
  max-width: 520px;

  left: 50%;
  bottom: 125%;
  transform: translateX(-50%);

  backdrop-filter: blur(4px);
  border-radius: var(--space-sm);

  font-size: var(--font-sm);
  line-height: 125%;
  border: 2px dashed var(--border-color);
}

.active-task-holder .no-active-task {
  padding: var(--space-sm);
  color: var(--text-light);
  font-size: var(--font-xs);
  text-align: center;
}
.no-active-task_link{
  font-size: var(--font-sm);
  font-weight: normal;
  color: var(--accent);
}
.no-active-task_link:hover{
  opacity: 0.8;
}
.active-task-holder.is-active {
 
  border:unset;
 
}

.task {
  width: 100%;
   padding: var(--space-sm) var(--space-lg);
    background-color: hsl(from var(--border-color) h s 30%);
    border-radius: var(--space-sm);
  overflow: hidden;
 
}
.task-completed{
  display: grid;
  grid-template-columns: 20% 80%;
   padding-block: var(--space-xs) ;
   background: var(--bg-light);
   border-radius: var(--space-sm);
  animation: pulseOut 700ms cubic-bezier(.2,.8,.2,1) forwards;
  will-change: transform, box-shadow, opacity;
}

.task-completed_icon{
  color: var(--level-low);
 
  grid-area: 1 / 1 / 3 / 2;
  place-content: center;
}
.task-completed_label{
  font-size: var(--font-xs);
}
.task-completed_title{
  grid-area: 2 / 2 ;
}
.task_progress{
  flex-shrink: 0;
  letter-spacing: -0.1em;
}
.task_progress_done{
  color: var(--accent);
}
.task_content{
  width: 100%;
  min-width: 0;
  padding-inline: var(--space-sm);
}
.task_title {
  align-self: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 0;
}
.task_actions {
  display: flex;
  gap: var(--space-sm);
  align-items: center;
  padding-left: var(--space-sm);
  border-left: 1px solid var(--border-color);
}
.task_meta{
  font-size: var(--font-xs);
  color: var(--text-light);
}
.task_remove {
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translate(50%, -50%);
  background-color: var(--contrast-bg);
}
.task_remove:hover {
  background-color: var(--level-extreme);
}

@media screen and (min-width: 1024px) {
  .todoContainer {
    top: 10dvh;
    right: var(--space-lg);

    height: 80dvh;
    max-width: 360px;
  }
}
